.theory-page {
  display: grid;
  grid-template-rows: 20% auto;
  grid-template-columns: repeat(11, 1fr);
  height: 90vh;
  place-content: center;
  text-align: center;
}

.theory-page h1 {
  grid-column: 4 / 9;
}
.theory-page div {
  grid-column: 5 / 8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
